body {
  width: 100%;
  font: 100% Helvetica, Arial;
  color: #333;
  background-color: #99CCFF;
  display: block;
  margin: 0;
  padding: 0;
}

.in {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

#header, #footer {
  background-color: black;
  color: white;
  height: 50px;
  border-bottom: 3px solid blue;
}

#header .logo {
  float: left;
}

#header .info {
  width: 350px;
  background-color: black;
}

#header .navbar {
  /*
  position: absolute;
  right: 0px;
  top: 0px;
  */
}

#header  .sitename {
  font-size: 32pt;
}

#header .tagline {
  font-size: 18pt;
}

table {
}

table td {
  border: 1px solid gray;
  padding: .5em;
}

.even {
  background-color: #EDF3FF
}

.odd {
  background-color: #D5DBE6;
}


table td {
  border: 1px solid gray;
  padding: .5em;
}

#content {
  margin-top: 3em;
}


#content .past {
  background-color: #eee;
}

.past {
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  background-clip: padding-box;
}

.past h1 {
  font-size: 120%;
  font-weight: bold;
}

.campaign {
  background: white;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  background-clip: padding-box;
}

.pad {
  padding: 15px 10px 10px 10px;
}

.past .old {
  border-bottom: 1px solid black;
  width: 95%;
  margin: auto;
  text-align: center;
  padding-top: 1em;
}

.past .image {
  width: 100;
  height: 100;
  background-color: red;
  margin: auto;
}

.campaign .photo {
  width: 250;
  height: 250;
  float: right;
  border: 1px solid gray;
}

.campaign .intro {
  padding-bottom: 1em;
}

.campaign .progress {
  padding-bottom: 1em;
}

.details p {
  margin-bottom: 1em;
}
